[submodule "inst/Basic/slides"]
	path = inst/Basic/slides
	url = https://github.com/dboyliao/MLDM_RBasic.git
[submodule "inst/ETL/slides"]
	path = inst/ETL/slides
	url = https://github.com/ntuaha/R_ETL.git
[submodule "inst/Visualization/slide2"]
	path = inst/Visualization/slide2
	url = https://github.com/everdark/lecture_ggplot.git
[submodule "inst/Visualization/slide1"]
	path = inst/Visualization/slide1
	url = https://github.com/KuiMing/graphics.git
[submodule "inst/Visualization/slide3"]
	path = inst/Visualization/slide3
	url = https://github.com/mansunkuo/rmd_tutorial
[submodule "inst/DataAnalysis/slides"]
	path = inst/DataAnalysis/slides
	url = https://github.com/whizzalan/R-tutorial_DataAnalysis
